@use "../scss/" as *;

.not__found_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: calc(90dvh - 76px);
    text-align: center;
    padding: 20px;

    &_illustartion {
        flex: 1 0 50%;

        @include for_size(phone) {
            flex: 1 0 100%;
            margin-bottom: 1rem;
        }

        img {
            @include for_size(phone) {
                width: 100%;
            }
        }
    }

    &_info {
        flex: 1 0 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include for_size(phone) {
            flex: 1 0 100%;
            order: 0;
            padding-right: 0;
            margin-bottom: 1rem;
        }

        &_title {
            @include fluid-font($min_width, $max_width, 20px, 40px);
            text-align: center;
            line-height: 24px;
            margin-bottom: 2rem;
        }

        &_subtitle {
            @include fluid-font($min_width, $max_width, 14px, 20px);
            text-align: center;
            margin-bottom: 1.5rem;
            font-weight: 400;
        }

        @mixin common_btn_style {
            background-color: color(secondary);
            color: color(light);
            display: flex;
            align-items: center;
            border: 0;
            padding: 0.5rem 1.5rem;
            margin-top: 1.5rem;
            box-shadow: 0 0 5px #8f8f8f;
            transition: all 0.4s ease;
            border-radius: 4px;

            &_text {
                @include fluid-font($min_width, $max_width, $min_regular_font, $max_regular_font);
                font-weight: bold;
            }

            &-icon {
                margin-right: 4px;
                transition: all 0.4s ease;
            }
        }

        &_btn {
            @include common_btn_style;

            &:hover .not__found_container_info_btn-icon {
                transform: translateX(-4px);
            }
        }
    }
}
