<div class="main_content_position">
    <div class="not__found_container">
        <div class="not__found_container_illustartion">
            <img src="../../assets/not-found-illustration.png" alt="404 Not Found">
        </div>
        <div class="not__found_container_info">
            <h1 class="not__found_container_info_title">
                You've drifted off course
            </h1>
            <h3 class="not__found_container_info_subtitle">
                The page you're looking for seems to have taken an unexpected flight path. <br>
                Our crew is working to guide everything back on track.
            </h3>
            <button class="not__found_container_info_btn" (click)="routeToHome()">
                <span class="material-icons-outlined not__found_container_info_btn-icon">arrow_back</span>
                <span class="not__found_container_info_btn_text">Back Home</span>
            </button>
        </div>
    </div>
</div>