@use "../scss/" as *;

ul li {
  list-style-type: none;
}

.footer {
  background-color: color(dark);
  color: color(light);
  padding: 1rem 3vw;

  &__top {
    border-bottom: 1px solid #999;
  }

  &__flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 24px 12px;
  }

  &__title {
    font-family: $chivo;
    @include fluid-font($min_width, $max_width, $min_regular_font, $max_regular_font);
    font-weight: bold;
    margin-top: 1rem;
  }

  &__media {
    a {
      font-size: 1.5rem;
      color: darkgrey;
      transition: 0.3s all ease-in-out;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      &:hover {
        cursor: pointer;
        color: color(light);
      }
    }
  }

  &__header {
    position: relative;
    display: inline-flex;
    font-family: $chivo;
    @include fluid_font($min_width, $max_width, $min_footer_header, $max_footer_header);
    margin: 1rem 0 0.5rem 0;
  }

  &__link {
    margin: 0;
    padding: 0;

    &_items {
      display: inline-flex;
      margin: 0.5rem 0;
      color: color(light);
      font-size: 1rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        color: color(primary);
      }
    }
  }

  &__contact {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &_info,
    &_info_link {
      margin-left: 8px;
    }

    &_info_link {
      a {
        color: color(light);

        &:hover {
          color: color(primary);
        }
      }
    }
  }

  &__Contact_flex {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-wrap: wrap;

    &_item {
      position: relative;
      &_image {
        background: url("../../assets/contact_qr.svg") no-repeat center/cover;
        height: 150px;
        width: 150px;
      }
    }
  }
}

.bcas__logo_container {
  margin-top: 1rem;
  width: 200px;
  text-align: center;
  .bcas__logo {
    background: url("../../assets/BCAS_logo.png") no-repeat center/contain;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .bcas__logo_title {
    font-weight: bold;
  }
}

.info {
  background-color: color(dark);
  color: #b3b3b3;
  padding: 1rem 2rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 13px;
  gap: .5rem;

  @include for_size(phone) {
    padding: 1rem 1rem .5rem;
  }
}
