<div class="main_content_position">
    <div class="page__header">
        <div class="page__header_title">
            About
        </div>
        <div class="page__header_link">
            <span class="page__header_link_text" routerLink="/">Home</span>
            <span class="material-icons page__header_link-icon">chevron_right</span>
            <span class="page__header_link_text">About</span>
        </div>
    </div>
</div>

<div class="about">
    <div class="about__flex">
        <div class="about__flex_image">
            <img src="../../assets/about-2.png" alt="About us">
        </div>
        <div class="about__flex_info">
            <strong>AEROPS Facility Management PVT.LTD.</strong> is originally founded in the India in year 2021.
            We are young organization with the team of reach experienced Director, Team Leaders and Members.
            AEROPS is an emerging operations and maintainance firm for airports.
            We are highly regarded full service company that expertly installs and services major manufacturer's brands
            of conveyor systems throughout the India. We also provides services like
            material handling system installation, operation, maintainance, facility management and Airport Consultancy.
        </div>
    </div>

    <div class="about__flex">
        <div class="about__flex_info">
            <h1 class="about__title">Our Mission</h1>

            <div class="about__info">
                AEROPS's mission is so clear. Our aim is to provide the worlds best services and management facilities
                to our
                clients.
                Because we believe that our work is our own identity.
            </div>

            <h1 class="about__title">Our Vision</h1>

            <div class="about__info">
                In future, We are setting the target to become more customer centric and focussed company, because
                customer
                satisfaction is nothing but the master key
                to our success.
            </div>
        </div>

        <div class="about__flex_image">
            <img src="../../assets/about.png" alt="our mission">
        </div>
    </div>
</div>