@use '../scss/' as *;

.page__header {
  margin-bottom: 0;
}

.about {
  padding: 0 5.9vw 50px;

  &__flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    row-gap: 2rem;

    &_image {
      flex: 1 0 50%;
      display: grid;
      place-items: center;

      @include for_size(phone) {
        flex: 1 0 100%;
        margin-bottom: 1rem;
      }

      img{
        @include for_size(phone) {
          width: 100%;
        }
      }
    }

    &_info {
      flex: 1 0 50%;
      @include fluid-font(
        $min_width,
        $max_width,
        $max_regular_font,
        $xl_regular_font
      );

      @include for_size(phone) {
        flex: 1 0 100%;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    @include fluid-font(
      $min_width,
      $max_width,
      $min_title_font,
      $max_title_font
    );
    font-weight: 600;
    margin: 50px 0 1rem;

    &_image {
      height: 50px;
    }
  }

  &__info {
    @include fluid-font(
      $min_width,
      $max_width,
      $max_regular_font,
      $xl_regular_font
    );
    line-height: 24px;
  }
}
