<div class="main_content_position">
    <div class="page__header">
        <div class="page__header_title">
            Certifications
        </div>
        <div class="page__header_link">
            <span class="page__header_link_text" (click)="routeToHome()">Home</span>
            <span class="material-icons-outlined page__header_link-icon">chevron_right</span>
            <span class="page__header_link_text">Certifications</span>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="header">
            <span class="material-icons-outlined header-icon">
                shield
            </span>
            <span class="header_text">Certified Excellence</span>
        </div>
        <div class="subheader">
            Our commitment to quality, safety, and environmental standards
        </div>
    </div>
    
    <div class="card__grid">
        <div class="card__grid_item">
            <img src="../../assets/9001_2015.png" alt="ISO 9001:2015" class="card__grid_item_image">
        </div>
    
        <div class="card__grid_item">
            <img src="../../assets/45001_2018.png" alt="ISO 45001:2018" class="card__grid_item_image">
        </div>
    
        <div class="card__grid_item">
            <img src="../../assets/14001_2015.png" alt="ISO 14001:2015" class="card__grid_item_image">
        </div>
    </div>
    
    <div class="certification-details">
        <p>
            Our certifications are more than milestones—they are a reflection of our organizational values.
            By adhering to internationally recognized standards in quality, safety, and environmental stewardship,
            AEROPS ensures that every operation aligns with industry best practices and client expectations.
        </p>
    </div>
</div>