@use "../scss/" as *;

.header {
    margin-top: 76px;
    width: 100%;
    height: 80vh;
    background: url("../../assets/team_members.jpg") no-repeat center/cover;
    display: grid;
    place-items: center;

    &__title {
        color: #fff;
        font-family: $chivo;
        @include fluid-font($min_width, $max_width, 22px, 48px);
    }
}

.container {
    padding: 50px 5.9dvw;

    .career__flex {
        display: grid;
        grid-template-columns: repeat(12, minmax(5px, 1fr));
        grid-column-gap: 48px;
        place-items: center;

        &_image {
            grid-column: 1/7;
            display: grid;
            place-items: center;

            img {
                width: 60%;
            }
        }

        &_desc {
            grid-column: 7/-1;

            &_title {
                @include fluid-font($min_width, $max_width, 18px, 32px);
                font-weight: bold;
                margin-bottom: 1.5rem;
            }

            &_text {
                text-align: justify;
                @include fluid-font($min_width, $max_width, 14px, 18px);
                line-height: 24px;
            }
        }
    }
}
