<div class="main_content_position">
    <div class="header">
        <div class="header__title">
            Grow with <span style="font-weight: bold;">AEROPS</span>
        </div>
    </div>

    <div class="container">

        <div class="career__flex">
            <div class="career__flex_image">
                <img src="../../assets/join_team.png" alt="Join Team">
            </div>

            <div class="career__flex_desc">
                <div class="career__flex_desc_title">Where Extraordinary is Chosen</div>

                <div class="career__flex_desc_text">
                    If you're seeking a dynamic and rewarding career within the aviation industry, you're in the right
                    place. AEROPS is a vibrant organization that values talent, innovation, and dedication. As we
                    continue to grow and expand our operations in the realm of airport facility management, we are
                    constantly on the lookout for passionate individuals who can contribute their skills and enthusiasm
                    to our team.
                    <br><br>
                    We provide ample opportunities for professional development, training, and hands-on experience in a supportive and inclusive work environment.
                </div>
            </div>
        </div>
    </div>
</div>