@use "../scss/" as *;

.service {
  padding: 0 5.9vw;

  &__flex {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;

    &_image {
      flex: 1 0 50%;

      img {
        width: 100%;
      }

      @include for_size(phone) {
        display: none;
        flex: 1 0 100%;
        order: 0;
        margin-bottom: 1rem;
      }
    }

    &_info {
      flex: 1 0 50%;

      @include for_size(phone) {
        flex: 1 0 100%;
        order: 1;
      }

      &_image {
        display: none;
        
        @include for_size(phone) {
          width: 100%;
          display: block;
        }
      }

      &_title {
        font-family: $chivo;
        text-align: left;
        font-weight: bold;
        text-transform: capitalize;
      }

      &_text {
        margin: 1.5rem 0 0.5rem;
        line-height: 24px;
      }

      &_list {
        &_item {
          line-height: 24px;
        }
      }
    }
  }
}

.media__padding {
  padding-left: 1rem;

  @include for_size(phone) {
    padding: 0;
  }
}
